.advantages {
  padding-top: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 58px;

    border-bottom: 1px solid $color-underline;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 81px;

    border: none;
  }
}

.advantages__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    counter-reset: number;

    gap: 75px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 18px;
  padding: 5px 0 3px 80px;

  font-family: $ff-lato;
  color: $dark-contet;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 125px 75px 45px 0;

    font-size: 16px;
    line-height: 24px;

    counter-increment: number;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  //
  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-main;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 14px;

      width: 80px;
      height: 80px;
    }
  }

  &--exclusively::before {
    background-image: url("../img/svg/icon-exclusively.svg");
  }

  &--quickly::before {
    background-image: url("../img/svg/icon-quickly.svg");
  }

  &--replace::before {
    background-image: url("../img/svg/icon-replace.svg");
  }

  &--transformation::before {
    background-image: url("../img/svg/icon-transformation.svg");
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(number);
      position: absolute;
      top: -26px;
      left: 116px;
      z-index: -1;

      margin: 0;

      font-size: 280px;
      line-height: 280px;
      font-family: $ff-oswald;
      color: $color-basic;
    }
  }
}
