.button {
  display: inline-block;
  margin: 0;
  padding: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-main;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-main-dark;
  }

  &:focus,
  &:focus-visible {
    background-color: $color-main-dark;
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    background-color: $color-main;
    opacity: 0.3;
  }
}
