.button {
  display: inline-block;
  margin: 0;
  padding: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-align: center;
  color: $light;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-main;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-main-dark;
    outline: none;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);

    background-color: $color-main-dark;
  }

  &:disabled,
  &--disabled {
    color: rgb(186, 186, 186, 0.6);

    background-color: rgb(94, 170, 47, 0.1);

    pointer-events: none;
  }
}
