.catalog {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-division;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;

    gap: 64px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    left: -20px;

    border-bottom: 1px solid $color-catalog-div;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.catalog__item-container {
  display: grid;
  align-items: start;
  height: 100%;
  padding: 20px 0 25px;

  gap: 17px 0;
  grid-template-columns: 140px 1fr;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 39px;

    background-color: $color-basic;
    background-image: linear-gradient(0deg, $color-basic 84%, $light 84%);

    gap: 31px 0;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 12px 0;
  }
}

.catalog__img {
  display: block;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
  }
}

.catalog__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__title-link {
  display: block;
  margin: 0 0 15px;

  color: $color-title-catalog;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto;
  }
}

.catalog__title {
  max-width: 80px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 155px;
    margin: 0 auto;
    padding-bottom: 13px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 16px;
  }
}

.catalog__description {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $dark-contet;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.catalog__description-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 10px;

  @media (min-width: $tablet-width) {
    padding: 7px 0 4px;

    border-bottom: 1px solid $color-frame;
  }

  @media (min-width: $desktop-width) {
    padding: 7px 0 6px;
  }
}

.catalog__description-item:last-child {
  @media (min-width: $desktop-width) {
    padding: 7px 0 8px;
  }
}

.catalog__description-item dd {
  margin: 0;
}

.catalog__button {
  margin-top: auto;

  font-size: 16px;
  line-height: 20px;

  grid-column: 1 / -1;
}

.catalog__item--more {
  position: relative;

  margin: 0;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
  }
}

.catalog__item--more::before,
.catalog__item--more::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;

  width: 30px;
  height: 2px;

  background-color: $color-plus;

  @media (min-width: $tablet-width) {
    top: 81px;

    width: 60px;
  }
}

.catalog__item--more::before {
  transform: translate(-50%, -50%);
}

.catalog__item--more::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.catalog__item--more .catalog__item-container {
  display: grid;
  padding: 78px 0 25px;

  text-align: center;

  gap: 9px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 158px 37px 37px;

    background-color: transparent;
    background-image: none;
    border: 2px solid $color-basic;
  }

  @media (min-width: $desktop-width) {
    padding: 148px 37px 37px;
  }
}

.catalog__item--more .catalog__title {
  max-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto;
    padding: 0;
  }
}

.catalog__item--more p {
  margin: 0 0 12px;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto 44px;

    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__item--more .catalog__button {
  color: $dark-contet;

  background-color: $color-basic;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-catalog-div;
  }

  &:active {
    background-color: $color-catalog-div;
    opacity: 0.3;
  }
}
