.developer {
  align-items: center;

  text-decoration: none;
}

.developer__name {
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $dark-contet;

  @media (min-width: $tablet-width) {
    padding-right: 23px;
  }
}
