.developer {
  align-items: center;

  text-decoration: none;
}

.developer__name {
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $dark-contet;

  @media (min-width: $tablet-width) {
    padding-right: 23px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main;
  }

  &:active {
    color: $color-main;

    opacity: 0.3;
  }
}

.developer__logo {
  &:hover,
  &:focus,
  &:focus-visible {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;

    fill: $color-main;
  }
}
