.developer {
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $dark-contet;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    fill: $color-main;
  }

  &:active {
    opacity: 0.3;

    fill: $color-main;
  }
}

.developer__name {
  @media (min-width: $tablet-width) {
    padding-right: 23px;
  }
}
