.example {
  background-color: $color-background;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(
      0deg,
      $color-background 42.5%,
      $light 42.9%
    );
  }

  @media (min-width: $desktop-width) {
    background-color: $color-basic;
    background-image: linear-gradient(0deg, $color-basic 77%, $light 77%);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    align-items: start;

    gap: 10px 220px;
    grid-template-columns: 436px 1fr;
  }
}

.example__content {
  padding-bottom: 26px;

  font-family: $ff-lato;
  color: $dark-contet;
}

.example__list-wrapper {
  @media (min-width: $tablet-width) and (max-width: 1439px) {
    display: grid;
    align-items: center;

    gap: 33px;
    grid-template-columns: repeat (2, auto);
  }

  @media (min-width: $desktop-width) {
  }
}

.example__list {
  display: grid;

  gap: 20px 32px;
  grid-template-columns: repeat(2, 124px);

  @media (min-width: $tablet-width) {
    align-items: center;

    gap: 33px;
    grid-template-columns: repeat(2, 162px);
  }
}

.example__term {
  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  color: $dark-contet;
}

.example__definition {
  font-size: 16px;
  line-height: 16px;
}

.example__prise {
  line-height: 20px;
  text-transform: uppercase;
}
