.example {
  background-color: $basic-gray;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $light;
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $light;
  }
}

@media (min-width: $desktop-width) {
  .example__container {
    display: grid;

    gap: 10px 220px;
    grid-template-columns: 1fr 560px;
  }
}

.example__content {
  padding-bottom: 26px;

  font-family: $ff-lato;
  color: $dark-contet;
}

.example__list-wrapper {
  display: grid;

  gap: 20px 32px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $tablet-width) {
  .example__list-wrapper {
    align-items: center;

    gap: 33px;
    grid-template-columns: 162px 162px 1fr;
  }
}

@media (min-width: $desktop-width) {
  .example__list-wrapper {
    align-items: center;

    gap: 60px 42px;
    grid-template-columns: repeat(2, 162px);
  }
}

.example__term {
  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  color: $dark-contet;
}

.example__definition {
  font-size: 16px;
  line-height: 16px;
}

.example__prise {
  display: block;

  line-height: 20px;
  text-transform: uppercase;
}
