.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    max-width: 1220px;
    margin: 0 auto;

    gap: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  border: none;

  &--data {
    padding: 0 20px 24px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 72px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 70px 0;
    }
  }

  &--radio {
    padding: 28px 20px 19px;

    border-top: 1px solid $color-division;
    border-bottom: 1px solid $color-division;

    @media (min-width: $tablet-width) {
      padding: 0 70px 65px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 70px;
    }
  }

  &--contacts {
    padding: 0 20px 24px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 70px;
    }
  }

  &--commit {
    padding: 0 20px 23px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 70px;
    }
  }

  &--check {
    padding: 0 20px 34px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 65px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 74px;
    }
  }

  &--submit {
    padding: 0 20px 32px;

    @media (min-width: $tablet-width) {
      display: grid;
      align-items: center;
      padding: 0 70px 60px;

      gap: 20px 65px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 80px;
    }
  }
}

.form__fieldset p {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__group {
  display: grid;

  gap: 14px;
  grid-template-columns: 1fr;
}

.form__group-item {
  display: grid;

  grid-template-columns: auto 1fr;
}

.form__fieldset--contacts .form__group {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__label {
  align-self: center;
  padding-right: 13px;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__input {
  width: 100%;
  padding: 11px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }

  &--mail {
    background-image: url("../img/svg/input-email.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
  }

  &--phone {
    background-image: url("../img/svg/input-phone.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
  }

  &:hover {
    border: 1px solid $color-frame;
  }

  &:focus,
  &:focus-visible {
    border: 2px solid $dark-contet;
  }

  &:invalid {
    border: 2px solid $error;
  }
}

textarea.form__input {
  padding: 14px 14px;
}

.form__legend {
  margin-bottom: 34px;
}

.form__submit {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}
