.form__container {
  @media (min-width: $desktop-width) {
    display: grid;
    max-width: 1220px;
    margin: 0 auto;

    gap: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  align-items: baseline;
  width: 100%;
  min-width: 320px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }

  &--data {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      padding-top: 16px;
      padding-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 53px;
    }
  }

  &--radio {
    padding: 21px 20px 19px;

    border-top: 1px solid $color-division;
    border-bottom: 1px solid $color-division;

    @media (min-width: $tablet-width) {
      padding: 0 70px 52px;

      border: none;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 53px;
    }
  }

  &--contacts {
    padding: 27px 20px 20px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 49px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 56px;
    }
  }

  &--commit {
    padding-bottom: 18px;

    @media (min-width: $tablet-width) {
      padding: 0 70px 49px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 56px;
    }
  }

  &--check {
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      padding-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 63px;
    }
  }

  &--submit {
    padding: 0 20px 32px;

    @media (min-width: $tablet-width) {
      display: grid;
      align-items: center;
      padding: 0 70px 61px;

      gap: 0 65px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 80px;
    }
  }
}

.form__fieldset--commit .form__legend {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }
}

.form__fieldset--check .form__legend {
  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.form__fieldset--submit p {
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__group {
  display: grid;

  gap: 14px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.form__group-item {
  display: grid;
  align-items: baseline;

  grid-template-columns: auto 1fr;
}

.form__fieldset--contacts .form__group {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 20px 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__label {
  align-self: center;
  padding-right: 13px;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__input {
  width: 100%;
  padding: 13px 17px;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: normal;
  }

  &--mail {
    background-image: url("../img/svg/input-email.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
  }

  &--phone {
    background-image: url("../img/svg/input-phone.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 20px;
  }

  &:hover {
    border-color: $color-frame;
  }

  &:focus,
  &:focus-visible {
    border-color: $dark-contet;
    outline: none;
    box-shadow: 0 0 0 1px $dark-contet;
  }

  &--invalid {
    border-color: $error;
    box-shadow: 0 0 0 1px $error;
  }

  &--valid {
    border-color: $color-main-dark;
    box-shadow: 0 0 0 1px $color-main-dark;
  }

  &--disabled {
    border-color: $color-frame;
    box-shadow: 0 0 0 1px $color-frame;
  }
}

textarea.form__input {
  height: 150px;
  margin-top: 3px;
  padding: 14px 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    height: 175px;
    margin-top: 12px;
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.form__legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin: 3px -67px 70px -70px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 3px -100px 70px -110px;
    padding-left: 70px;
  }
}

.form__legend span {
  display: inline-block;
  max-width: 222px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 40px;
  }
}

.form__submit {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.form__fieldset--submit .button {
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}

.form__fieldset--submit p {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-family: $ff-lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
  }
}
