@media (min-width: $desktop-width) {
  .form__container {
    display: grid;

    gap: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__fieldset {
  margin: 0 auto;

  border: none;
}

@media (min-width: $tablet-width) {
  .form__fieldset--submit {
    display: grid;
    align-items: center;

    gap: 20px 65px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__group {
  display: grid;

  gap: 14px;
  grid-template-columns: 1fr;
}

@media (min-width: $desktop-width) {
  .form__group {
    display: grid;

    gap: 0 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;
}

.form__input {
  padding: 11px 20px;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $dark-contet;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid $gray-border;
}

.form__legend {
  margin-bottom: 34px;
}
