.intro {
  background-color: #ffffff;

  &--home {
    background-color: $dark-green;
    background-image: linear-gradient(
        to top,
        rgba(104, 183, 56, 0.85),
        rgba(104, 183, 56, 0.85)
      ),
      url("../img/intro-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.intro__content {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.intro__title {
  padding: 27px 35px 25px;
}

.intro__text {
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.intro__img {
  display: block;
  width: 100%;
  height: 100%;
}
