.more__item {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

@media (min-width: $desktop-width) {
  .more__catalog-container {
    display: grid;

    gap: 0 80px;
    grid-template-columns: 1fr auto;
  }
}

@media (min-width: $desktop-width) {
  .more__item {
    display: grid;
    align-items: baseline;

    grid-template-columns: 1fr 220px 60px 244px;
  }
}

.more__button {
  grid-column: 1 / -1;
}

.more__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $dark-contet;
  text-transform: uppercase;

  grid-column: 1 / -1;
}

.more__pack {
  font-family: $ff-lato;
  color: $dark-contet;
}

.more__price {
  font-family: $ff-lato;
  color: $dark-contet;
}

.more__offer {
  padding: 172px 20px 26px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  color: $light;

  background-image: linear-gradient(
      to top,
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)
    ),
    url("../img/more-background.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $desktop-width) {
  .more__offer {
    width: 245px;
  }
}
