.more__catalog-container {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 30px 80px;
    grid-template-columns: 1fr auto;
  }
}

.more__item {
  display: grid;
  padding: 12px 0 19px;

  border-top: 1px solid $color-frame;

  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    padding: 26px 38px 28px;

    border: 1px solid $color-frame;

    grid-template-columns: 1fr 150px 70px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding: 15px 0 17px;

    gap: 40px;
    grid-template-columns: 1fr 220px 60px 244px;
  }
}

.more__item:last-child {
  border-bottom: 1px solid $color-frame;
}

.more__button {
  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.more__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $dark-contet;
  text-transform: uppercase;

  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px;

    font-size: 20px;
    line-height: 20px;

    grid-column: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.more__pack {
  font-family: $ff-lato;
  color: $dark-contet;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.more__price {
  font-family: $ff-lato;
  color: $dark-contet;

  justify-self: end;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.more__offer {
  margin: 35px 0;
  padding: 186px 58px 43px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  text-align: center;
  color: $light;

  background-image: url("../img/svg/icon-gift.svg"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/more-background-mobile@1.jpg");
  background-repeat: no-repeat;
  background-position: top 59px center, top, center;
  background-size: 78px 80px, auto, cover;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 421px;

    text-align: left;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/more-background-tablet@1.jpg");
    background-position: center left 80px, top, center;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    padding: 185px 42px 43px;

    text-align: center;

    background-image: url("../img/svg/icon-gift.svg"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/more-background-desktop@1.jpg");
    background-position: top 59px center, top, top;
  }
}

.more__offer p {
  margin: 0;
}
