.program__list {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 21px;

  background-color: $color-basic;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.program__title {
  margin: 10px 0 30px;
  padding-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
  }
}

.program__content {
  margin: 0 0 23px;

  font-family: $ff-lato;
  color: $dark-contet;
}

.program__link {
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
