.slider {
  position: relative;

  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__comparicon {
  position: relative;

  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
    margin: 0 auto;
  }
}

.slider__img {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
  overflow: hidden;

  background-color: $color-underline;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.slider__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider__img--before {
  left: 0;
  z-index: 20;
}

.slider__img--after {
  right: 0;
  z-index: 10;
}

.slider__img--before img {
  object-position: left;
}

.slider__img--after img {
  object-position: right;
}

.slider__change {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 50;

  width: 4px;

  background-color: $color-icon;
  border-radius: 2px;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main;
  }

  &:active {
    color: $color-main-dark;

    opacity: 0.6;
  }
}

.slider__change-pin {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 40px;
  height: 40px;

  color: $color-icon;

  background: $light;
  border: 2px solid $color-icon;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    fill: $color-main;
  }

  &:active {
    opacity: 0.6;

    fill: $color-main-dark;
  }
}
