.social {
  display: grid;
  justify-content: center;

  gap: 24px;
  grid-template-columns: repeat(3, auto);

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  color: $color-icon;

  fill: currentColor;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-main;

    outline: none;
  }

  &:active .social__link-icons {
    color: $color-main;

    opacity: 0.3;
  }
}
