.social {
  display: grid;
  justify-content: center;

  gap: 24px;
  grid-template-columns: repeat(3, auto);

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 22px;

  color: $color-icon;

  fill: currentColor;

  &:hover .social__link-icons,
  &:focus .social__link-icons,
  &:focus-visible .social__link-icons {
    outline: none;

    fill: $color-main;
  }

  &:active .social__link-icons {
    opacity: 0.3;

    fill: $color-main;
  }
}
