*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  height: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}
