// Colors

$light: #ffffff;
$dark: #000000;
$color-main: #68b738;
$color-main-dark: #5eaa2f;
$color-basic: #f2f2f2;
$dark-contet: #444444;
$color-border: #e7e7e7;
$color-underline: #e6e6e6;
$color-catalog-div: #ebebeb;
$color-division: #d9d9d9;
$color-plus: #d3d3d3;
$color-background: #eaeaea;
$color-frame: #cdcdcd;
$color-btn-hover: #bababa;
$color-title-catalog: #222222;
$color-icon: #666666;
$error: #ff8282;

// Fonts

$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
