// Colors

$light: #ffffff;
$dark: #000000;
$color-main: #68b738;
$color-basic: #f2f2f2;
$dark-contet: #444444;
$color-border: #e7e7e7;
$color-background: #eaeaea;
$color-title-catalog: #222222;
$color-icon: #666666;
$error: #ff8282;

// Fonts

$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
