// Global

@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/utils.scss";

// Blocks

@import "blocks/button.scss";
@import "blocks/title-lines.scss";
@import "blocks/title.scss";
@import "blocks/container.scss";
@import "blocks/main-header.scss";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/main-content.scss";
@import "blocks/program.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/catalog.scss";
@import "blocks/more.scss";
@import "blocks/form.scss";
@import "blocks/control.scss";
@import "blocks/main-footer.scss";
@import "blocks/map.scss";
@import "blocks/social.scss";
@import "blocks/developer.scss"
